
.header-opsiones{
    margin-top: 10px;
    display: flex;
    color: white;
    justify-content:space-between;

    /* background-color: whitesmoke; */
}
.header-opsiones p{
color: white;
}
.header-opsiones_input {
    margin-top: 5px;
    width: 80%;
    margin-right: 15px;
}
